a{/*リンクされた文字*/
    color:#FFFFFF;
    font-style:normal;
    text-decoration:none;
}
a:link {/*未訪問のリンク*/
    color:#FFFFFF;
    font-style:normal;
    text-decoration:none;
}
a:visited {/*訪問後のリンク*/
    color:#FFFFFF;
    text-decoration:none;
}
a:hover {/*マウスをのせたとき*/
    color:#FFFFFF;
    font-style:normal;
    text-decoration:none;
}
a:active {/*クリック中*/
    text-decoration:none;
}
